<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/8650a98586.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>{{title}}</title>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/#"><img src="/img/logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link icon-nav" href="/#"><i class="fa fa-home fa-2x"></i> <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    {{#if isLogin}}
                        <a href="/myCart" class="nav-link icon-nav" style="cursor: pointer;position: relative"><i class="fa fa-shopping-cart fa-2x"></i>
                            <div style="position:absolute;right:3px;top:3px;width: 16px;height: 16px; background-color: red;color: white;padding: 10px;border-radius: 50%">
                                <span style="position: absolute;top: 0px;left: 3px">{{{length user.cart}}}</span>
                            </div>
                        </a>
                    {{else}}
                        <a class="nav-link icon-nav" data-toggle="modal" data-target="#loginModal"><i
                                class="fa fa-sign-in fa-2x"></i> </a>
                    {{/if}}

                </li>

                {{#if isLogin}}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle icon-nav" href="#" id="navbarDropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img style="width: 32px;height: 32px;margin-right: 16px;border-radius: 50%"
                                 src="{{user.avatar}}"/> <span {{#if isAdmin}}style="color: red;font-weight: bold" {{/if}}>{{user.fullName}} {{#if isAdmin}}(Admin){{/if}}</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/logout"><i class="fa fa-sign-out icon-nav"></i> Đăng
                                xuất</a>
                            <a class="dropdown-item" href="/profile"><i class="fa fa-id-card icon-nav"></i> Hồ sơ</a>
                            {{#if isAdmin}}
                                <a class="dropdown-item" href="/bill"><i class="fa fa-file-invoice-dollar icon-nav"></i> Hóa đơn</a>
                            {{/if}}
                        </div>
                    </li>
                {{else}}
                    <li class="nav-item">
                        <a class="nav-link icon-nav" onclick="clearRegisterForm()" data-toggle="modal"
                           data-target="#registerModal" style="cursor: pointer"><i class="fa fa-key fa-2x"></i> </a>
                    </li>
                {{/if}}
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" id="formRegister" action="/">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Đăng ký</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-user"></i></div>
                        <input class="form-control" id="userName" name="userName" type="text"
                               placeholder="Tên tài khoản" required>
                    </div>
                    <div class="form-group input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-user"></i></div>
                        <input class="form-control" id="fullName" name="fullName" type="text" placeholder="Họ tên"
                               required>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-lock"></i></div>
                                <input class="form-control" name="password" id="password" type="password"
                                       placeholder="Mật khẩu" required>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-lock"></i></div>
                                <input class="form-control" name="rePassword" id="rePassword" type="password"
                                       placeholder="Nhập lại mật khẩu" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-map"></i></div>
                                <input class="form-control" id="address" name="address" type="text"
                                       placeholder="Địa chỉ" required>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-phone"></i></div>
                                <input class="form-control" required name="phoneNumber" id="phoneNumber" type="tel"
                                       placeholder="Số điện thoại">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" value="register" name="actionRegister">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="button" onclick="register()" class="btn btn-primary">Đăng ký</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" id="formLogin" action="/">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Đăng Nhập</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-user"></i></div>
                        <input class="form-control" name="userName" type="text" placeholder="Tên tài khoản" required>
                    </div>
                    <div class="form-group input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-lock"></i></div>
                        <input class="form-control" name="password" type="password" placeholder="Mật khẩu" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" name="actionLogin" class="btn btn-primary">Đăng nhập</button>
                </div>
            </form>
        </div>
    </div>
</div>
{{{body}}}
<script type="text/javascript">
        {{#if isWrongPassword}}
        alert('Sai tài khoản hoặc mật khẩu');
        $('#loginModal').modal('show');
        {{/if}}
        {{#if isExistAccount}}
        alert('Tên tài khoản này đã tồn tại');
        $('#registerModal').modal('show');
        {{/if}}
    let userName = $('#userName');
    let fullName = $('#fullName');
    let passWord = $('#password');
    let rePassword = $('#rePassword');
    let address = $('#address');
    let phoneNumber = $('#phoneNumber');
    let formRegister = document.getElementById('formRegister');
    let formLogin = document.getElementById('formLogin');
    formRegister.reset();
    formLogin.reset();
    const register = () => {
        if (userName.val().length === 0) {
            alert('Không bỏ trống trường tên đăng nhập');
            userName.focus();
            throw "Null";
        }
        if (fullName.val().length === 0) {
            alert('Không bỏ trống trường họ tên');
            fullName.focus();
            throw "Null";
        }
        if (passWord.val().length < 6 || passWord.val().length > 14) {
            alert('Mật khẩu phải từ 6-14 ký tự');
            passWord.focus();
            throw "Null";
        }
        if (passWord.val() !== rePassword.val()) {
            alert('Mật khẩu nhập lại không khớp');
            rePassword.focus();
            throw "Null";
        }
        if (address.val().length === 0) {
            alert('Không bỏ trống trường địa chỉ');
            address.focus();
            throw "Null";
        }
        if (phoneNumber.val().length === 0) {
            alert('Không bỏ trống trường sô điện thoại');
            phoneNumber.focus();
            throw "Null";
        }
        formRegister.submit();
    };
    const clearRegisterForm = () => {
        formRegister.reset();
    }
</script>
<footer class="page-footer font-small pt-4" style="background-color: azure;margin-top: 50px">
    <div class="footer-copyright text-center py-3">©
        <a href="/"> Hiệp Jean Shop</a>
    </div>
</footer>
</body>
</html>